.app-container {
  width: 500px;
  margin: 0 auto;
  margin-top: 30px;
}


.scores-container {
  margin-right:10px;
  width: 50px
}

.score-container,
.best-container {
  background: #bbada0;
  padding: 15px 25px;
  font-size: 25px;
  line-height: 25px;
  font-weight: bold;
  border-radius: 3px;
  color: white;
  text-align: center;
}

.score-container {
  margin-right: 10px; 
}
